# project
MANIFEST
dist/
.tox/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
first/migrations
db.sqlite3

# python
*.egg-info
__pycache__
*.pyc
*.pot
*.py[co]

# Editors
*.sw[po]
bestoon/__init__.pyc
bestoon/settings.pyc
bestoon/urls.pyc
bestoon/wsgi.pyc
first/__init__.pyc
first/admin.pyc
first/migrations/0001_initial.pyc
first/migrations/__init__.pyc
first/models.pyc