{% extends "template.html"%}
{% load staticfiles %}

{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <a href="https://github.com/mb1992fl8/bestoon">
          این برنامه در حال توسعه است. اینجا را ببینید 
      </a>
    </div>
  </div>
</div>



  {% if message %}
  <div class="bs-callout bs-callout-info">
    <h5>{{ message }}</h5>
  </div>
  {% endif %}


<div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">بستون</h3>
        </div>
        <div class="panel-body">
<p>
  بستون یک پروژه هستش که جادی نوشتتش و\
  من از روی فیلم آموزشش دارم قدم به قدم انجامش میدم.
  

  </p>
<p>
  این یک پروژه روحیه بخش هم هست. 
  با <a href="http://jadi.net/tag/بستون">دیدن قدم به قدم مراحل ساخت پروژه</a>
  مطمئن می‌شین که با ترکیب راحتی از تلاش و سواد می شه یک سرویس واقعی راه انداخت 
  و نیازی نیست برای تحقق ایده مون دست به دامن این و اون باشیم 
  یا سال ها صبر کنیم.
</p>
<p>
  برای باز کردن اکانت 
  <a href=/accounts/register/> به صفحه رجیستر شدن برید. </a>
  و برای اطلاعات بیشتر مراجعه کنید به : 
  <a href="https://github.com/mb1992fl8/bestoon/">
  گیت‌هاب پروژه
</a>
</p>  
        </div>
        <p>

        </p>
      </div>


<br /><br />



</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-body">
      
      <div class="panel-heading">
        <h3 class="panel-title">
          ماجرا چیه باباجان؟
        </h3>
      </div>
  <p>
    این در واقع یک سیستم نگه‌داری حساب‌کتاب و دخل و خرج شخصی است.
    پول‌هایی رو که درآوردید توش میزنید و پول‌هایی رو که خرج کردید یادداشت میکنید.
    اما این سیستم شدیدا در ابتدای راهه؛ دلیلش؟
    این سیستم داره به عنوان یک پروسه آموزشی کار میکنه و
    <a href="https://github.com/mb1992fl8/bestoon">
      من قدم‌به‌قدم با کمک جادی عزیز کارهایی رو که 
      برای راه انداختن این لازمه انجام دادم و منتشر میکنم.
    </a>
    .
  </p>
  <p>
    در حال حاضر برای استفاده از این سیستم باید قدم‌های زیر رو پیش برید:

    <ul>
    <li>از صفحه رجیستریشن که این بغل و اون بالاست، 
      ثبت نام کنید و توکن دریافت کنید
    </li>
    <li> از یکی از کلاینت‌ها برای اتصال استفاده کنید. فعلا تنها کلاینت ما <a
href="https://github.com/mb1992fl8/bestoon/tree/master/clients/commandline">کلاینت‌های کامندلاین 
ما هستند که با کرل کار میکنن. و لازمه کدی رو که دریافت کردید توی فایل کانفیگشون وارد کنید.</a> منطقا در 
آینده کلاینت تحت وب و اپلیکیشن هم خواهیم داشت.
    <li> خرج و دخل‌ها رو وارد سیستم کنید و منتظر باشید که هی سیستم کامل‌تر شه.</li>
    </ul>
    
  </p>
    </div>
  </div>
</div>

</div>
{% endblock %}


{% block footer %}

<script >
$(document).ready(function () {
        $(".subtaskinput").fadeOut(0);
        $(".edittaskinput").fadeOut(0);
        $('.fa-square-o').hover(function () {
            $(this).addClass('fa-check-square-o');
            $(this).removeClass('fa-square-o');
        }, function () {
            $(this).addClass('fa-square-o');
            $(this).removeClass('fa-check-square-o');
        });

});

function showsubtaskinput(elementid){
  if ($('.btn-'+elementid).text() == '+') {
    $('.subtask-'+elementid).fadeIn(250);
    $('.subtask-'+elementid).focus();
    $('.btn-'+elementid).text ('-');
  }
  else {
    $('.subtask-'+elementid).fadeOut(250);
    $('.btn-'+elementid).text ('+');
  }
  // دگمه رو عوض کنیم به منفی و اگر منفی رو زد المنت رو حذف کنیم
  return 0;
}

function fadeout(elementid){
    $('.edittask-'+elementid).fadeOut(250);
}
function showeditinput(elementid){
    $('.edittask-'+elementid).fadeIn(250);
    $('.edittask-'+elementid).focus();
    return 0;
}
</script>

<script type="text/javascript">
$(".alert").fadeTo(10000, 500).slideUp(500, function(){
    $(".alert").slideUp(10000);
});
</script>
{% endblock %}
